<template>
  <div id="app">
    <h1>Todos</h1>
    <div
      class="todos"
      data-qa="todos"
    >
      <p
        v-for="todo in todos"
        :key="todo"
      >
        {{ todo }}
      </p>
      <p v-if="todos.length < 1">
        Empty
      </p>
    </div>
    <input
      id="add-todo"
      v-model="input"
      type="text"
      name="add-todo"
      data-qa="add-todo"
    >
    <button @click="pushTodoToList()">
      Push
    </button>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "App",
  data() {
    return {
      todos: [],
      input: "add todo",
    };
  },
  methods: {
    async pushTodoToList() {
      await axios
        .post(process.env.VUE_APP_BASE_URL, { todo: this.input })
        .then(() => {
          this.todos.push(this.input);
        });
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>